<div class="container text-center">
<div class="col-md-8 col-md-offset-2">

<h1 class="new-post-header">Edytuj Post</h1>

	<%= render 'form' %>
	<%= link_to "Wróć", home_path, class: "btn btn-default" %>
	</div>
</div>