<div class="container text-center">
	<% @posts.each do |post| %>
		<div class="col-md-6">
			<div class="post">
				<h2><%= link_to post.title, post_with_title_path(post, :title => post.title)%><h2>
			</div>
		</div>
	<% end %>
</div>
<div class="container text-center">
	<div class="col-md-8 col-md-offset-2">
		<%= link_to "Wróć", root_path, class: "btn btn-default" %>
	</div>
</div>

<div class="container text-center">
	<div class="col-md-8 col-md-offset-2">
		<div class="pagination">	
			<%= will_paginate %>
		</div>
	</div>	
</div>
