<div class="container">
	<% @posts.each do |post| %>
		<div class="col-md-6">
			<div class="post">
				<h2><%= link_to post.title, post_with_title_path(post, :title => post.title)%><h2>
			</div>
		</div>
	<% end %>
</div>
<div class="container">
	<div class="col-md-3">
<%= link_to "Wróć", root_path, class: "btn btn-default" %>
</div>
</div>