<div class="jumbotron text-center">
	<h1>Motocross</h1>
	  <p>Witam, by wyświetlić posty kliknij <%= link_to "Tutaj", home_path, :style=>'color:#00BFFF;' %> </p>
	  <p>Zalogować się, kliknij <%= link_to "Tutaj", new_user_session_path, :style=>'color:	#7CFC00;' %> </p>
	  <p>Dodać post, kliknij <%= link_to "Tutaj", new_post_path, :style=>'color: #FF4C00;' %> </p>
</div>

<div class="container" id="main-container">
	<div class="row">
		<div class="col-sm-4">
			<h1 class="text-center"><i class="fa fa-indent homepage-icon"></i></h1>
				<p class="text-center">Zobacz posty różnych użytkowników</p>
		</div>

		<div class="col-sm-4">
			<h1 class="text-center"><i class="fa fa-picture-o  homepage-icon"></i></h1>
				<p class="text-center">Dodawaj posty oraz zdjęcia</p>
		</div>

		<div class="col-sm-4">
			<h1 class="text-center"><i class="fa fa-thumbs-up homepage-icon"></i></h1>
				<p class="text-center">Możliwość Polubienie/Nie polubienia postu</p>
		</div>
	</div>
</div>

<%= render 'alerts' %>