  <div class="jumbotron">
	<div class="container text-center">
	  <h1>Motocross</h1>
	  <p>Witam, by wyświetlić posty kliknij <%= link_to "Tutaj", home_path, :style=>'color:#00BFFF;' %> </p>
	  <p>Zalogować się, kliknij <%= link_to "Tutaj", new_user_session_path, :style=>'color:	#7CFC00;' %> </p>
	  <p>Dodać post, kliknij <%= link_to "Tutaj", new_post_path, :style=>'color: #FF4C00;' %> </p>

	</div>
</div>
<br/>

<%= render 'alerts' %>