/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Michroma');
@import url('https://fonts.googleapis.com/css?family=Hind+Vadodara');
body {
	background-color: #fff;
	font-family: 'Playfair Display', serif;
	padding-top: 45px;

}




h1, h2, h3, h4, h5, h6 {
	font-family: 'Hind Vadodara', sans-serif;
	font-weight: 300;	
}



.navbar-fixed-top .navbar-brand {
	color: #000000;
	font-family: 'Michroma', sans-serif;
	
}

.navbar {
	margin-bottom: 0px;
    background-color: #1FA67A;
}

.navbar-fixed-top .navbar-nav > li > a {
	color: #262626;
	font-family: 'Hind Vadodara', sans-serif;
}


  .homepage-icon {
    border: 1px solid #1FA67A;
    padding: 35px 37px;
    border-radius: 50%;
  }


  .jumbotron {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
  }


.jumbotron {
  color: white;
  text-shadow: 2px 2px 4px #000000;
  background-image: url("motocross1.jpg");
  background-size: cover;
  border-radius: 8px;

.jumbotron, h1 {
	font-family: 'Michroma', sans-serif;
	}

}

.jumbotron, p {
	font-family: 'Hind Vadodara', sans-serif;
}


.btn-custom {
	background-color: #fff;
	color: #0a8fd5;
	font-family: 'Michroma', sans-serif; 
	font-weight: 300;
	border-radius: 8px;
	padding: 10px 20px;
	&:hover {
		color: #383838;
		transition: 0.5s;
		background-color: #fff;
		text-decoration: none;
	}
}

.btn:hover {
	transition: 0.5s;
	color: #383838;
	background-color: #fff;

}

.post {
	box-sizing: border-box;
	border-radius: 25px;
	background-color: #F5F5F5;
	margin-bottom: 25px;
	margin-right: 10px;
	margin-left: 10px;
	img-algin: center center;
	height: 350px;
	overflow: hidden;

	.post-title {
		font-size: 1.5em;
		font-family: 'Hind Vadodara', sans-serif;
		font-weight: 300;
		margin-top: 0;
		text-align:center;
		color: #262626;
		margin-bottom: 25px;
	}

	img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto 
    }

	.fillwidth {
    min-width: 100%;
    height: auto;
	}

	.fillheight {
    min-height: 100%; 
    width: auto;
	}
}	


.post-show {
	box-sizing: border-box;
	overflow-wrap: break-word;
	background-color: #F5F5F5;
	padding: 2.0em 1.5em;
	color: #262626;
	font-family: 'Hind Vadodara', sans-serif;
	font-weight: 300;

	h2 {
		margin-top: 0;
	}

	.post-desc {
		font-size: 1.1em;
		line-height: 1.75;
		margin-bottom: 50px;
	}

	.post-posted-by {
		color: #262626;
		font-size: 0.9em;
	}

}

.new-post-header {
	font-family: 'Hind Vadodara', sans-serif;
	}

	#page_wrapper {
		padding: 3em;
		margin: auto;
		#profile_image {
			width: 300px;
			float: left;
			margin-right: 2em;
			img {
				width: 100%;
				border-radius: 0.35em;
			}
		}

		#content {
			h2 {
				font-weight: 500;


			}
			p {
				font-size: 1.1em;
				line-height: 1.75;
			}
			a {
				color: #33acb7;
				font-weight: 700;
				text-decoration: none;
			}
		}
	}

	.like:hover {
		text-decoration: none;
	}
	